@model IEnumerable<WebLicoreria.Models.Producto>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Productos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                Categoría
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    @if (item.IdCategoriaNavigation != null)
                    {
                        @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Descripcion)
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProducto">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProducto">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProducto">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
